.logoChangePassword {
	width: 58px;
	height: 58px;
	margin-left: 5px;
	padding: 10px;
}

.changePasswordContainer {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.changePasswordContainer a {
	font-style: italic;
	color: #bada55;
	margin-top: 20px;
}

.changePasswordForm {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 170px;
}

.oldPasswordContainer label,
.newPasswordContainer label,
.newPasswordAgainContainer label {
	display: inline-block;
	text-align: right;
	width: 190px;
	margin-right: 10px;
	cursor: pointer;
	font-weight: 800;
	font-size: 18px;
}

.oldPasswordContainer input,
.newPasswordContainer input,
.newPasswordAgainContainer input {
	width: 250px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 16px;
	padding: 5px;
	color: #001719;
	background-color: #bada55;
	border: none;
}

.submitChangePasswordFormBtn {
	margin-top: 10px;
	padding: 0px 15px 3px 15px;
	font-size: 22px;
	font-weight: 800;
	color: #99ffdd;
	text-shadow: 2px 2px 2px black;
	background-color: #005266;
	border-radius: 20px;
	border: 2px solid white;
}

.submitChangePasswordFormBtn:hover {
	cursor: pointer;
	padding: 0px 18px 3px 18px;
	background-color: #005266;
	border: 2px solid #99ffdd;
	text-shadow: none;
	font-weight: 900;
	transition: 0.25s all;
}

@media screen and (max-width: 600px) {
	.oldPasswordContainer,
	.newPasswordContainer,
	.newPasswordAgainContainer {
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	.oldPasswordContainer label,
	.newPasswordContainer label,
	.newPasswordAgainContainer label {
		text-align: left;
	}

	.submitChangePasswordFormBtn {
		margin-top: 10px;
	}

	.changePasswordContainer a {
		margin-top: 30px;
	}
}
