.headerComponent {
	padding: 10px;
	width: calc(100% - 20px);
	height: calc(10% - 20px);
	text-align: left;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 0.5049370089832808) 60%,
		rgba(0, 0, 0, 0.1856092778908438) 100%
	);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerComponent h1 {
	font-size: 24px;
}

.logo {
	width: 58px;
	height: 58px;
	margin-left: 5px;
}

.buttonsContainer a {
	color: #bada55;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	margin-right: 5px;
}

.buttonsContainer a:hover {
	color: #33cccc;
	text-shadow: 1px 1px #bada55;
}

.profileIcon {
	width: 26px;
	height: 26px;
}

.menuIcon {
	width: 18px;
	height: 18px;
	padding-right: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.menuItem {
	padding: 10px;
}

.dropdownMenu {
	display: none;
	position: absolute;
	right: 10px;
	background-color: #041e24;
	min-width: 150px;
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.dropdownMenu div:hover {
	background-color: black;
}

.dropdownMenu div:hover a {
	color: white;
	text-shadow: none;
}

.dropdownMenu div:hover img {
	filter: brightness(0) invert(1);
}

.dropdown:hover .dropdownMenu {
	display: block;
}
